@model Vidly.Models.Movie
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Name</h1>
<ul>
    <li><strong>Genre:</strong> @Model.Genre.Name</li>
    <li><strong>Release Date:</strong> @Model.ReleaseDate.ToLongDateString()</li>
    <li><strong>Date Added:</strong> @Model.DateAdded.ToLongDateString()</li>
    <li><strong>Number in Stock:</strong> @Model.NumberInStock</li>
</ul>